html{
	overflow: hidden;
	overflow-y: auto;
}
body{
	overflow-x: hidden;
	font-family: $primary-font;
	background-color: $frostee;
}
main{
	min-height: 80vh;
}
section{
	width: 100%;
	float: left;
	overflow: hidden;
}
.container{
	max-width: 1140px;
}
.spr-{
	&section__{
		background-position: center;
		background-size: cover;
		&title{
			width: 100%;
			float: left;
			h6{
				color: $eminence;
				margin-bottom: 22px;
			}
			h2{
				color: $eucalyptus;
				margin-bottom: 43px;
			}
			&.white{
				h6,
				h2,
				p{
					color: #fff;
				}
			}
		}
		&text{
			width: 100%;
			float: left;
			padding: 54px 0 0;
			p{
				margin-bottom: 10px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.container{
		padding-left: 37.5px;
		padding-right: 37.5px;
	}
	.spr-section__title {
		h6{
			margin-bottom: 17px;
		}
		h2{
			margin-bottom: 34px;
		}
	}
}