h1{
	font-size: 50px;
	font-weight: 900;
	line-height: 59px;
}
h2{
	font-size: 50px;
	font-weight: 900;
	line-height: 59px;
}
h3{
	font-size: 42px;
	font-weight: 900;
	line-height: 56px;
}
h4{
	font-size: 30px;
	font-weight: 900;
	line-height: 42px;
}
h5{
	font-size: 21px;
	font-weight: 700;
	line-height: 29px;
}
h6{
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
}
p{
	font-size: 15px;
	line-height: 20px;
}
img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
a{
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
@include media-breakpoint-down(lg) {
	h1,h2{
		font-size: 27px;
		line-height: 34px;
	}
	h5{
		font-size: 16px;
		line-height: 24px;
	}
	h6{
		font-size: 14px;
		line-height: 20px;
	}
	p{
		font-size: 14px;
		line-height: 19px;
	}
}