.spr-{
	&about__us__section{
		padding: 118px 0;
		background-color: #fff;
		.image{
			width: 100%;
			height: 528.5px;
			display: block;
			background-size: cover;
			background-position: center;
			border-radius: 40px;
		}
		.spr-section__title{
			margin: 104px 0 0;
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-about__us__section{
		padding: 55px 0 75px;
		.image{
			height: 450px;
		}
		.spr-section__title{
			margin: 70px 0 0;
		}
	}
}
@include media-breakpoint-down(md) {
	.spr-about__us__section{
		.image{
			height: 350px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.spr-about__us__section{
		.image{
			height: 238px;
		}
		.spr-section__title{
			margin: 44px 0 0;
		}
	}
}