.spr-{
	&footer{
		width: 100%;
		float: left;
		background-color: #21B544;
		border-radius: 128.5px 128.5px 0 0;
		padding: 72px 0 106px;
		&__title{
			width: 100%;
			float: left;
			h2{
				color: #fff;
				margin-bottom: 36px;
			}
			h6{
				color: #D3F0DA;
				margin-bottom: 44px;
			}
		}
		&__form{
			width: 100%;
			float: left;
			background: rgba(249, 254, 250, 0.7);
			border-radius: 30px;
			padding: 32.5px 65px 36.5px;
			margin: 5px 0 0;
			form{
				width: 100%;
				float: left;
			}
			.wpcf7-response-output{
				width: 100%;
				float: left;
				margin: 30px 0 0!important;
				padding: 20px 30px 10px!important;
				font-size: 14px;
				line-height: 18px;
				text-align: center;
				border-top: none!important;
				border-left: none!important;
				border-right: none!important;
				border-width: 2px!important;
			}
			.wpcf7-form-control-wrap{
				width: 100%;
				float: left;
				&.recaptcha{
					margin-bottom: 20px;
				}
			}
		}
		&__address{
			width: 100%;
			float: left;
			margin-bottom: 24px;
			p{
				font-size: 16px;
				line-height: 26px;
				color: #fff;
				margin: -2px 0 0;
				&.title{
					opacity: 0.5;
					margin-bottom: 0;
				}
			}
		}
		&__email{
			width: 100%;
			float: left;
			margin-bottom: 97px;
			p{
				font-size: 16px;
				line-height: 26px;
				color: #fff;
				margin: -2px 0 0;
				&.title{
					opacity: 0.5;
					margin-bottom: 0;
				}
			}
			a{
				font-size: 16px;
				line-height: 26px;
				color: #fff;
				display: block;
				margin: -8px 0 0;
				text-decoration: none;
				&:hover{
					opacity: 0.7;
					text-decoration: underline;
				}
			}
		}
		&__logo{
			width: 100%;
			float: left;
			display: block;
			opacity: 0.8;
			margin-bottom: 20px;
			img{
				width: 100%;
				float: left;
				max-width: 206px;
			}
		}
		&__copyrights{
			p{
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
.field__group{
	width: 100%;
	float: left;
	margin-bottom: 40px;
	span{
		width: 100%;
		float: left;
		position: relative;
		&.wpcf7-not-valid-tip{
			position: absolute;
			bottom: -20px;
			left: 0;
			font-size: 12px;
			line-height: 16px;
		}
	}
}
.submit__group{
	width: 100%;
	float: left;
	position: relative;
	.ajax-loader{
		margin: 0;
		position: absolute;
		right: 20px;
		top: 15px;
	}
}
.form__field{
	width: 100%;
	float: left;
	color: $eminence;
	font-size: 15px;
	line-height: 21px;
	padding: 0 0 4px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $eminence;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&:focus{
		outline: none;
		box-shadow: none;
	}
	&::placeholder {
	  color: $eminence;
	  opacity: 1;
	}

	&:-ms-input-placeholder {
	  color: $eminence;
	}

	&::-ms-input-placeholder {
	  color: $eminence;
	}
}
.form__submit{
	width: 100%;
	float: left;
	border-radius: 24.5px;
	background-color: $eminence;
	font-size: 16px;
	font-weight: 700;
	line-height: 22.5px;
	padding: 15px 25px 14px;
	color: #fff;
	text-align: center;
	border: 2px solid $eminence;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&:hover{
		background-color: #fff;
		color: $eminence;
	}
}
textarea.form__field{
	height: 113px;
	resize: none;
}
@include media-breakpoint-down(lg) {
	.spr-footer{
		border-radius: 50px 50px 0 0;
		padding: 42px 0;
	}
}
@include media-breakpoint-down(md) {
	.spr-footer{
		&__title{
			h2{
				margin-bottom: 14px;
			}
			h6{
				margin-bottom: 26px;
			}
		}
		&__form{
			padding: 32px 30px 43px;
			margin-bottom: 46px;
		}
		.wpcf7-response-output{
			padding: 0 0 10px!important;
			font-size: 12px;
			line-height: 16px;
		}
		&__address{
			p{
				font-size: 14px;
			}
		}
	}
	.submit__group{
		margin: 9px 0 0;
		.ajax-loader{
			top: 7px;
		}
	}
	.form__submit{
		font-size: 14px;
		line-height: 20px;
		padding: 8px 25px 7px;
	}
}
@include media-breakpoint-down(sm) {
	.spr-footer__{
		&address p,
		&email a,
		&email p{
			font-size: 14px;
			line-height: 19px;
			&.title{
				margin-bottom: 3px;
			}
		}
		&address{
			margin-bottom: 29px;
		}
		&email{
			margin-bottom: 48px;
		}
	}
}