body{
	&.admin-bar{
		.spr-{
			&header{
				top: 32px;
				&.scroll__down{
					top: -100%;
				}
			}
		}
	}
}
.spr-{
	&header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		padding: 31.5px 0 17.5px;
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: $eucalyptus;
			border-radius: 0 0 50px 50px;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
		}
		&.dark{
			&::before{
				opacity: 1;
				visibility: visible;
			}
			.spr-main__nav ul li {
				a{
					&:hover,
					&.active{
						background-color: #fff;
						color: $eucalyptus;
					}
				}
			}
		}
		&.scroll__down{
			top: -100%;
		}
	}
	&logo{
		width: 190px;
		display: block;
	}
	&main__{
		&menu{
			margin: 2px 0 0 102px;
		}
		&nav{
			width: 100%;
			ul{
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin: 0 2.5px;
					a{
						text-decoration: none;
						color: #fff;
						font-weight: bold;
						font-size: 16px;
						line-height: 22.5px;
						padding: 4px 8px;
						border-radius: 27.5px;
						&.active,
						&:hover{
							background-color: $eucalyptus;
							color: #fff;
						}
					}
				}
			}
		}
	}
	&language__switcher{
		margin: 3px 0 0;
		ul{
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				a{
					display: block;
					background-color: $alabaster;
					font-size: 16px;
					font-weight: 700;
					line-height: 22.5px;
					border-radius: 22.5px;
					padding: 0 16px;
					color: $eucalyptus;
					text-decoration: none;
					&:hover{
						background-color: $eucalyptus;
						color: #fff;
					}
				}
			}
		}	
	}
	&mobile{
		&__btn{
			width: 41.5px;
			height: 22.5px;
			position: relative;
			margin: 5px 0 0;
			border-radius: 11.25px;
			background-color: #F9F9F9;
			&.show{
				span{
					&:nth-child(1){
						top: 10px;
						left: 12px;
						-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
					}
					&:nth-child(2){
						top: 10px;
						left: 12px;
						-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
					}
				}
			}
			span{
				width: 17px;
				height: 2px;
				background-color: $eucalyptus;
				display: block;
				position: absolute;
				top: 0;
				left: 12px;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
				&:nth-child(1){
					top: 7px;
				}
				&:nth-child(2){
					top: 14px;
				}
			}
		}
		&__wrapper{
			position: fixed;
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			z-index: 99;
			padding: 70px 30px 130px;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			-webkit-transform: translateY(100px);
					transform: translateY(100px);
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: $eucalyptus;
				border-radius: 50px 50px 0 0;
				z-index: -1;
			}
			&.show{
				opacity: 1;
				visibility: visible;
				-webkit-transform: translateY(0);
						transform: translateY(0);
			}
		}
		&__menu{
			width: 100%;
			height: 100%;
			float: left;
			padding: 31px 30px 20px;
			overflow: auto;
			nav{
				width: 100%;
				float: left;
				ul{
					width: 100%;
					float: left;
					margin: 0;
					padding: 0;
					list-style: none;
					li{
						width: 100%;
						float: left;
						text-align: center;
						margin-bottom: 13px;
						a{
							display: inline-block;
							color: #fff;
							font-size: 16px;
							font-weight: 700;
							line-height: 22.5px;
							text-align: center;
							text-decoration: none;
							padding: 2.5px 6px;
							border-radius: 13.75px;
							&.active{
								background-color: #fff;
								color: $eucalyptus;
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-{
		&logo{
			width: 130.5px;
		}
		&header{
			padding: 16px 0 17px;
			&::before{
			    // display: none;
			    border-radius: 0 0 47.5px 47.5px;
			}
			&.scroll__down.show{
				top: 0;
			}
		}
		&mobile__btn{
			margin: 0;
		}
		&language__switcher{
			width: 100%;
			float: left;
			padding: 0 30px;
			position: absolute;
			left: 0;
			bottom: 96px;
			ul{
				width: 100%;
				text-align: center;
				li{
					display: inline-block;
					margin: 0 11px;
					a{
						padding: 0 14px;
						line-height: 19.5px;
						background-color: transparent;
						border: 1.5px solid #fff;
						color: #fff;
						&:hover,
						&.active{
							background-color: #fff;
							color: $eucalyptus;
						}
					}
				}
			}
		}
	}
}