.spr-{
	&hero__section{
		min-height: 100vh;
		position: relative;
		background-position: center;
		background-size: cover;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(180.11deg, rgba(35, 34, 34, 0.42) 12.44%, rgba(196, 196, 196, 0) 93.61%);
			z-index: 1;
		}
		.content{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			color: #fff;
			border-radius: 257px 257px 0 0;
			padding: 70px 0 68px;
			background-color: $eucalyptus;
			z-index: 2;
			.small__title{
				width: 100%;
				float: left;
				padding: 27px 35px 0 50px;
				h6{
					margin-bottom: 0;
				}
			}
			.title{
				width: 100%;
				float: left;
				padding: 0 0 0 75px;
				h1{
					margin-bottom: 0;
				}
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.spr-hero__section {
		.content{
			border-radius: 47.5px 47.5px 0px 0px;
			.small__title{
			    padding: 27px 35px 0 0;
			}
			.title{
				padding: 0;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-hero__section {
		.content{
			padding: 31.5px 0 77px;
			.small__title{
				padding: 0;
				h6{
					margin-bottom: 15.5px;
				}
			}
		}
	}
}