.spr-{
	&offer{
		&s__section{
			padding: 100px 0 120px;
			background-color: #fff;
		}
		&__block{
			width: 100%;
			float: left;
			margin: 65px 0 0;
			padding: 0 10px;
			.icon{
				width: 100%;
				float: left;
				height: 160px;
				margin-bottom: 25px;
				img{
					max-width: 160px;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-{
		&offers__section{
			padding: 57px 0 66px;
		}
		&section__text{
			padding: 44px 0 0;
		}
	}
}
@include media-breakpoint-down(md) {
	.spr-{
		&section__text{
			padding: 0;
		}
		&offer__block{
			margin: 27px 0 12px;
			padding: 0;
			.icon{
				margin-bottom: 16px;
			}
			h6{
				margin-bottom: 16px;
			}
		}
	}
}