.spr-{
	&service{
		&s__section{
			background-color: $feta;
			padding: 68px 0;
			.spr-section__title{
				margin-bottom: 61px;
			}
			.image{
				width: 100%;
				float: left;
				margin: 65px 0 0;
			}
		}
		&__block{
			width: 100%;
			float: left;
			border-radius: 30px;
			border: 1px solid $eucalyptus;
			padding: 20px 45px 22px;
			h6{
				color: $eucalyptus;
				margin-bottom: 15px;
			}
			p{
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-services__section{
		padding: 57px 0 70px;
	}
}
@include media-breakpoint-down(md) {
	.spr-service{
		&s__section{
			.image{
				margin: 0 0 54px 0;
			}
		}
		&__block{
			margin-bottom: 22.5px;
			padding: 23px 30px 22px;
			h6{
				margin-bottom: 9px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.spr-services__section {
		.spr-section__title{
			margin-bottom: 35px;
		}
		
	}
}