.spr-{
	&testimonials__{
		&section{
			background-color: $frostee;
			padding: 168px 0 105px;
			.spr-section__title{
				margin-top: 17px;
			}
		}
		&slider{
			width: 100%;
			float: left;
			padding: 0 0 104px 0;
			.swiper-slide{
				width: 100%;
				float: left;
				padding: 25px 0 0;
				opacity: 0!important;
				&-active{
					opacity: 1!important;
				}
				.content{
					width: 100%;
					min-height: 349px;
					float: left;
					background-image: url(../images/home/bubble_desktop.svg);
					background-size: cover;
					background-position: top;
					position: relative;
					padding: 64px 98px 20px;
					margin-bottom: 24px;
					&::before{
						content: '';
						width: 69px;
						height: 57px;
						display: block;
						position: absolute;
						top: -25px;
						left: 63px;
						background-image: url(../images/home/quotes.svg);
					}
					h5{
						margin-bottom: 0;
					}
				}
				h5.author{
					width: 100%;
					float: left;
					padding: 0 98px;
					color: $eucalyptus;
					margin-bottom: 0;
				}
			}
			.swiper-pagination{
				text-align: left;
				line-height: 0;
				bottom: 0;
				padding: 0 100px;
				&-bullet{
					width: 9px;
					height: 9px;
					margin: 0 15px!important;
					opacity: 1;
					background-color: transparent;
					border-radius: 50%;
					border: 1.5px solid rgba(44, 179, 74, 0.4);
					-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
					&-active{
						border-color: $eucalyptus;
						background-color: $eucalyptus;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-{
		&testimonials__{
			&section{
				padding: 55px 0;
			}
			&slider{
				padding: 0 0 40px 0;
				.swiper-slide .content{
					padding: 64px 60px 20px;
				}
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.spr-testimonials__{
		&section{
			padding: 38px 0 30px;
			.spr-section__title{
				h2{
					margin-bottom: 23px;
				}
			}
		}
		&slider{
			.swiper-slide .content{
				
				
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.spr-testimonials__{
		&slider{
			padding: 0 0 18px 0;
			.swiper-slide {
				.content{
					padding: 30px 31px;
					min-height: 286px;
					margin-bottom: 21px;
					h5{
						font-size: 12px;
						line-height: 16px;
					}
					background-image: url(../images/home/bubble_mobile.svg);
					&::before{
						width: 50.5px;
						height: 42px;
						left: 15px;
						background-position: center;
						background-size: cover;
					}
				}
				h5.author{
					font-size: 12px;
					line-height: 16px;
					padding: 0 31px;
				}
			}
			.swiper-pagination{
				padding: 0;
				text-align: center;
			}
		}
	}
}