.spr-{
	&values__slider__{
		&section{
			padding: 90px 0 95px;
			background-color: #fff;
		}
		&text{
			width: 100%;
			float: left;
			margin: 50px 0 0;
			padding: 0 0 48px;
			.swiper-slide{
				width: 100%;
				float: left;
				.content{
					width: 100%;
					float: left;
					padding: 0 100px;
					h2{
						color: $eucalyptus;
						margin-bottom: 40px;
					}
					p{
						letter-spacing: 0.5px;
					}
				}
			}
			.swiper-pagination{
				bottom: 0;
				line-height: 0;
				&-bullet{
					width: 9px;
					height: 9px;
					margin: 0 12px!important;
					opacity: 1;
					background-color: transparent;
					border-radius: 50%;
					border: 1.5px solid rgba(0, 0, 0, 0.4);
					-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
					&-active{
						border-color: $eucalyptus;
						background-color: $eucalyptus;
					}
				}
			}
			.swiper-button-prev,
			.swiper-button-next{
				width: 40px;
				height: 40px;
				margin-top: 15px;
				&::after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				&.swiper-button-disabled{
					&::after{
						border-color: rgba(0, 0, 0, 0.4);
						opacity: 1;
					}
				}
			}
			.swiper-button-prev{
				left: 27px;
				&::after{
					border-top: 1.5px solid $eucalyptus;
					border-left: 1.5px solid $eucalyptus;
					-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
				}
			}
			.swiper-button-next{
				right: 27px;
				&::after{
					border-top: 1.5px solid $eucalyptus;
					border-right: 1.5px solid $eucalyptus;
					-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
				}
			}
		}
		&image{
			width: 100%;
			float: left;
			.swiper-slide{
				width: 100%;
				height: 404.5px;
				background-size: cover;
				background-position: center;
				border-radius: 40px;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.spr-values__slider__{
		&text{
			.swiper-slide .content{
				padding: 0 70px;
			}
		}
		&image .swiper-slide{

		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-values__slider__{
		&section{
			padding: 42px 0 57px;
		}
		&text{
			padding: 0 0 30px 0;
			.swiper-slide .content{
				h2{
					margin-bottom: 20px;
				}
			}
			.swiper-button-{
				&next,
				&prev{
					margin-top: -20px;
				}
			}
		}
		&image{
			.swiper-slide{
				height: 320px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.spr-values__slider__{
		&image{
			float: none;
			width: auto;
			margin-left: -25px;
			margin-right: -25px;
			.swiper-slide{
				height: 218px;
				border-radius: 30px;
			}
		}
		&text{
			width: auto;
			float: none;
			margin: 43px -5px 0 -5px;
			padding: 0 0 43px;
			.swiper-slide .content{
				padding: 0;
				h2{
					margin-bottom: 15px;
				}
				p{
					letter-spacing: 0;
				}
			}
			.swiper-button-{
				&next,
				&prev{
					display: none;
				}
			}
		}
	}
}