.spr-{
	&values__section{
		background-size: cover;
		background-position: center;
		.spr-section__title{
			width: 100%;
			float: left;
			background-color: $eucalyptus;
			margin: 173px 0 182px;
			padding: 50px 95px 55px;
			border-radius: 50px;
			p{
				padding-right: 100px;
			}
		}
		.image{
			width: 100%;
			height: 340px;
			background-position: 100% 50%;
			background-size: cover;
		}
	}
}
@include media-breakpoint-down(lg) {
	.spr-values__section {
		.spr-section__title{
			padding: 42.5px 38px;
			margin: 80px 0 90px;
			p{
				padding: 0;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.spr-values__section {
		background-image: none!important;
		.spr-section__title{
			margin: -46px 0 0;
			border-radius: 50px 50px 0 0;
			padding: 43.5px 0 76px;
		}
	}
}